h1{
  text-align: center;
}
.text{
  margin-left: 250px;
  border-radius: 5px 0px 0px 5px;
  width: 800px;
  height: 30px;
  background-color: gray;
  opacity: 0.6;
  border: none;
  color: black;
  outline: none;
}
.select{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#warning{
  margin-left: 300px;
  text-align: center;
  color: red;
}
.number{
  height: 30px;
  width: 150px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
  margin-right: 19px;
}
.box{
  margin-left: 250px;
}
.btn{
  margin-left: 250px;
  width: 830px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: blue;
  color: white;
}
.input{
  display: flex;
}
.icon{
  background-color: blue;
  cursor: pointer;
  color: white;
  height: 22px;
  width: 30px;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  padding-top: 10px;
}